* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(58, 71, 100);
  font-family: "League Spartan", sans-serif;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

main {
  margin: 0 auto;
  width: 90%;
  height: 100%;
}
main .container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .head {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
main .head h1 {
  font-weight: 700;
}
main .head .theme-switcher {
  display: flex;
  gap: 30px;
  align-items: center;
}
main .head .theme-switcher p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
main .head .theme-switcher .name {
  justify-self: flex-end;
}
main .head .theme-switcher .switcher {
  display: flex;
  flex-direction: column;
  width: 60px;
  gap: 5px;
  align-items: center;
}
main .head .theme-switcher .switcher .theme-id {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
main .head .theme-switcher .switcher .theme-btns {
  display: flex;
  justify-content: space-between;
  width: 78px;
  height: 28px;
  border-radius: 20px;
  padding: 3px;
}
main .head .theme-switcher .switcher .theme-btns .item {
  height: 100%;
  width: 26px;
  cursor: pointer;
}
main .head .theme-switcher .switcher .theme-btns .dot {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: translate 0.2s ease;
}
main .display {
  width: 100%;
}
main .display .display-no {
  height: 80px;
  width: 100%;
  border-radius: 10px;
  font-size: 25px;
  display: grid;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  overflow: hidden;
}
main .keys {
  border-radius: 10px;
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  padding: 20px;
}
main .keys .key {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}
main .keys .del {
  font-size: 18px;
  box-shadow: 0px 3px 1px 0px hsl(224deg, 28%, 35%);
}
main .keys .reset {
  grid-column: 1/3;
  font-size: 17px;
  color: white;
}
main .keys .equal {
  color: hsl(0deg, 0%, 100%);
  font-size: 17px;
  grid-column: 3/-1;
}

.theme-one-bg {
  background-color: rgb(58, 71, 100);
}

.theme-two-bg {
  background-color: hsl(0deg, 0%, 90%);
}

.theme-three-bg {
  background-color: hsl(268deg, 75%, 9%);
}

.theme-one-dot {
  background-color: hsl(223deg, 31%, 20%);
}

.theme-two-dot {
  background-color: hsl(0deg, 5%, 81%);
}

.theme-three-dot {
  background-color: hsl(268deg, 71%, 12%);
}

.theme-one-text {
  color: white;
}

.theme-two-text {
  color: hsl(60deg, 10%, 19%);
}

.theme-three-text {
  color: hsl(52deg, 100%, 62%);
}

.theme-dot-one {
  background-color: hsl(6deg, 63%, 50%);
}

.theme-dot-two {
  background-color: hsl(25deg, 98%, 40%);
}

.theme-dot-three {
  background-color: hsl(176deg, 100%, 44%);
}

.shade-one-eq {
  background-color: hsl(6deg, 63%, 50%);
  box-shadow: 0px 3px 1px 0px hsl(6deg, 70%, 34%);
}

.shade-two-eq {
  background-color: hsl(25deg, 98%, 40%);
  box-shadow: 0px 3px 1px 0px hsl(25deg, 99%, 27%);
}

.shade-three-eq {
  background-color: hsl(176deg, 100%, 44%);
  box-shadow: 0px 3px 1px 0px hsl(177deg, 92%, 70%);
}

.screen-one {
  background-color: hsl(224deg, 36%, 15%);
  color: hsl(0deg, 0%, 100%);
}

.screen-two {
  background-color: hsl(0deg, 0%, 93%);
  color: hsl(60deg, 10%, 19%);
}

.screen-three {
  background-color: hsl(268deg, 71%, 12%);
  color: hsl(52deg, 100%, 62%);
}

.key-one {
  background-color: hsl(30deg, 25%, 89%);
  box-shadow: 0px 3px 1px 0px hsl(28deg, 16%, 65%);
  color: hsl(221deg, 14%, 31%);
}

.key-two {
  background-color: hsl(45deg, 7%, 89%);
  box-shadow: 0px 3px 1px 0px hsl(35deg, 11%, 61%);
  color: hsl(60deg, 10%, 19%);
}

.key-three {
  background-color: hsl(268deg, 47%, 21%);
  box-shadow: 0px 3px 1px 0px hsl(290deg, 70%, 36%);
  color: hsl(52deg, 100%, 62%);
}

.del-one {
  background-color: hsl(225deg, 21%, 49%);
  box-shadow: 0px 3px 1px 0px hsl(224deg, 28%, 35%);
  color: white;
}

.del-two {
  background-color: hsl(185deg, 42%, 37%);
  box-shadow: 0px 3px 1px 0px hsl(185deg, 58%, 25%);
  color: white;
}

.del-three {
  background-color: hsl(281deg, 89%, 26%);
  box-shadow: 0px 3px 1px 0px hsl(285deg, 91%, 52%);
  color: white;
}

.key:hover {
  background-color: black;
  color: white;
}

@media (min-width: 576px) {
  main {
    width: 500px;
    height: 100%;
  }
}/*# sourceMappingURL=styles.css.map */
